@{
    ViewData["Title"] = "Login";
}

<h1 class="text-center title">Login</h1>

<hr />

<div id="loginDiv">
    <form asp-action="CreateToken" id="loginForm" class="text-center">
        <p class="font-weight-bold"> Please enter your login and password!</p> <input type="text" name="" placeholder="Username"> <input type="password" name="" placeholder="Password"> <input type="submit" name="" value="Login" href="#">
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}  