
@{
    ViewData["Title"] = "Login";
}

<body onload="$dc.loadTitle('Menu', '#txtTitle');">

    <hr />

    <div id="menuDiv" class="row text-center">
        <div class="col-lg-4 col-md-6 col-12">
            <input class="itemMenuDiv" type="button" value="Categories" onclick="location.href='../Categories';">
        </div>
        <div class="col-lg-4 col-md-6 col-12">
            <input class="itemMenuDiv" type="button" value="Menu Items" onclick="location.href='../MenuItems';">
        </div>
        <div class="col-lg-4 col-md-12 col-12">
            <input class="itemMenuDiv" type="button" value="Users" onclick="location.href='../Users';">
        </div>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    
</body>