.title {
    text-shadow: 3px 1px 0px rgb(0 123 255);
    font-size: 3em;
    font-weight: bold;
    color: rgb(50 50 50);
    text-decoration: underline;
}

.btn{
    width: 110px;
}

.marginTop10px{
    margin-top: 10px;
}

.marginTop20px {
    margin-top: 20px;
}

.col-sm-10{
    padding-left: 0px;
}

/* ----------------------- Media Queries ------------------------ */
@media (min-width: 1200px) {
    .container {
        max-width: 1180px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1480px;
    }
}

@media screen and (min-width: 1800px) {
    .container {
        max-width: 1760px;
    }
}

@media screen and (min-width: 2400px) {
    .container {
        max-width: 2360px;
    }
}
